.center {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.searchbar {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin:0 auto;
    height: 45px;
    width: 584px;
    font-size:16px;
    border-radius: 30px;
    border: 1px solid #d4d4d4;
}

.searchbar:hover {
    box-shadow: 1px 1px 8px 1px #d4d4d4;
    outline: none;
    border: none;
}

.searchbar:focus-within {
    box-shadow: 1px 1px 8px 1px #d4d4d4;
    outline: none;
    border: none;
}

button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

h4 {
    cursor: default;
    display: inline;
    font-family: arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    margin-bottom: 0px;
    margin-left: 10px;
    vertical-align: baseline;
    width: auto;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.header{
    display: inline;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: auto;
}

.text1 {
    display: inline;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    height: auto;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-decoration: none;
    vertical-align: baseline;
    width: auto;
}

.text2 {
    display: table-cell;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    height: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-decoration: none;
    vertical-align: middle;
    width: 275.3125px;
}

.line {
    display: flex;
    align-items: center;
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
  }

.box {
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}