.center {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.searchbar {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin:0 auto;
    height: 45px;
    width: 584px;
    font-size:16px;
    border-radius: 30px;
    border: 1px solid #d4d4d4;
}

.searchbar:hover {
    box-shadow: 1px 1px 8px 1px #d4d4d4;
    outline: none;
    border: none;
}

.searchbar:focus-within {
    box-shadow: 1px 1px 8px 1px #d4d4d4;
    outline: none;
    border: none;
}

button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

h4 {
    cursor: default;
    display: inline;
    font-family: arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    margin-left: 10px;
    vertical-align: baseline;
    width: auto;
}

.header{
    display: inline;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: auto;
}

.textdiv {
    display: block;
    float: left;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    height: 30px;
    margin-bottom: 8px;
    margin-left: 11.390625px;

    min-width: 160px;
    padding-left: 5px;
    position: relative;
    width: 364.796875px;
}

.text1 {
    display: block;
    float: left;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    height: 42px;
    line-height: 16px;
    min-width: 167px;
    width: 182.390625px;
}

.text2 {
    display: table-cell;
    font-family: arial, sans-serif;
    font-size: 11px;
    vertical-align: middle;
    width: 275.3125px;
    color: #777;
    font-style: normal;
    font-weight: 400;
    height: 30px;
}

.line {
    display: flex;
    align-items: center;
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin-left: 50px;
    vertical-align: baseline;
  }

.box {
    display: block;
    float: left;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 41px;
    min-height: 41px;
    min-width: 167px;
    width: 570px;
}

input {
    display: block;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 29px;
    padding-right: 16px;
    width: 554px;
}

span {
    font-family: monospace;
    font-size: 11px;
    font-style: normal;
}

.buttonadv {
    color: white;
    cursor: default;
    display: block;
    float: right;
    font-family: system-ui;
    font-size: 11px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 700;
    height: 30px;
    letter-spacing: normal;
    line-height: 11px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    min-width: 120px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    text-align: center;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    width: 123.140625px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-rtl-ordering: logical;
    align-items: flex-start;
    appearance: push-button;
    background-color: rgb(77, 144, 254);
    background-image: -webkit-linear-gradient(top, rgb(77, 144, 254), rgb(71, 135, 237));
    border-bottom-color: rgb(48, 121, 237);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-left-color: rgb(48, 121, 237);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(48, 121, 237);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(48, 121, 237);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
}